/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

body {
    padding: 10px 0;
    background-color: bisque;
    border-top: solid 16px #423f4f;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-bottom: solid 30px #423f4f;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 8px #423f4f;
}

h2 {
    text-align: center;
    color: lightseagreen;
}

p {
    text-align: center;
    font-family: cursive;
    font-size: 200%;
}

section {
    align-content: center;
    padding: 5%;
    max-width: 100%;
}

img {
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
    flex: 10%;
    justify-content: space-evenly;
    border: 5px solid black;
}

.container {
    display: flex;
    border: 1px solid black;
    height: 30vmax;
}

button {
    background-color: rgb(165, 199, 107);
    color: white;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    box-shadow: dimgrey;
    align-items: center;
    stroke: black;
    block-size: 100%;
}