/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .galleryview {
        background: green;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .galleryview {
        background: blue;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .galleryview {
        background: orange;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .galleryview {
        background: grey;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    padding: 10px 0;
    background-color: bisque;
    border-top: solid 16px #423f4f;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-bottom: solid 30px #423f4f;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 8px #423f4f;
}

h2 {
    text-align: center;
    color: lightseagreen;
}

p {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 200%;
}

section {
    align-content: center;
    padding: 5%;
    max-width: 100%;
}

img {
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
    flex: 10%;
    justify-content: space-evenly;
    border: 5px solid black;
}

.container {
    display: flex;
    border: 1px solid black;
    height: 20%;
}

button {
    background-color: rgb(165, 199, 107);
    color: white;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    font-size: 200%;
    box-shadow: dimgrey;
    align-items: center;
    stroke: black;
    block-size: 100%;
}
